{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <!-- ... autres balises meta, liens CSS, etc. ... -->
</head>
<body>
<nav>
    <ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
    </ul>
</nav>

<div>
    {% block body %}{% endblock %}
</div>
</body>
</html>





